@layer base {
  html,
  body,
  #app {
    min-block-size: 100%;
  }

  body {
    margin: 0;
    background-color: var(--color-bg-page);
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
  }
}
