@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src:
    url('@/assets/fonts/kumbh-sans-variable-font_YOPQ,wght.woff2') format('woff2'),
    url('@/assets/fonts/kumbh-sans-variable-font_YOPQ,wght.woff') format('woff');
}
