@layer reset {
  html {
    text-size-adjust: 100%;
  }

  body {
    margin: 0;
  }

  img,
  picture,
  svg {
    display: block;
    max-inline-size: 100%;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }
}
