:root {
  --space-0: 0;
  --space-050: 0.25rem; // 4px
  --space-075: 0.375rem; // 6px
  --space-100: 0.5rem; // 8px
  --space-125: 0.625rem; // 10px
  --space-150: 0.75rem; // 12px
  --space-200: 1rem; // 16px
  --space-300: 1.5rem; // 24px
  --space-375: 1.875rem; // 30px
  --space-400: 2rem; // 32px
  --space-500: 2.5rem; // 40px
  --space-550: 2.75rem; // 44px
  --space-600: 3rem; // 48px
  --space-700: 3.5rem; // 56px

  // Mobile design: 375 - (24 * 2) = 327px content.
  --space-page-inline: var(--space-300);
}

@media (width >= 48rem) {
  :root {
    // Tablet design ~40px each side.
    --space-page-inline: var(--space-500);
  }
}
