:root {
  --font-family-primary: 'Kumbh Sans', arial, sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  // Text Preset 1
  --font-size-1: 1.75rem;
  --line-height-1: 1.25;

  // Text Preset 2
  --font-size-2: 1.5rem;
  --line-height-2: 1.25;

  // Text Preset 3
  --font-size-3: 1.25rem;
  --line-height-3: 1.25;

  // Text Preset 4 Bold / Regular
  --font-size-4: 1rem;
  --line-height-4-bold: 1.25;
  --line-height-4-regular: 1.625;

  // Text Preset 5
  --font-size-5: 0.875rem;
  --line-height-5: 1.2;
  --letter-spacing-default: 0;
}
